@mixin reset-list() {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// this is to DRY style of mobile menu typography
@mixin text-mobile-menu() {
	font-size: rem-calc( 10 );
	font-weight: $global-weight-bold;
	letter-spacing: rem-calc( 0.5 );
	text-transform: uppercase;
	color: $amp-primary-alt;
}

@mixin rotate-cw-s {
	transform: rotate( 3deg );
}

@mixin rotate-ccw-s {
	transform: rotate( -3deg );
}

@mixin rotate-cw-m {
	transform: rotate( 5deg );
}

@mixin rotate-ccw-m {
	transform: rotate( -5deg );
}

@mixin section-skew() {
	margin-top: rem-calc( 60 );
	margin-bottom: rem-calc( -1 );
	padding-bottom: rem-calc( 16 );
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: rem-calc( -60 );
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100px;
		transform: skewY(5deg);
		transform-origin: top left;
		z-index: -1; //was -1, why? because it works on mobile
	}

	&::after {
		content: '';
		position: absolute;
		bottom: -50px;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 120px;
		transform: skewY(5deg);
		transform-origin: top left;
		z-index: -1; 
	}

	@include breakpoint( medium ) {
		padding-top: rem-calc( 48 );
		padding-bottom: rem-calc( 80 );
		&::before,
		&::after {
			transform: skewY(2deg);
		}

		&::before {
			// top: -60px;
			top: -80px;
			z-index: 0;
		}

		// &::after {
			
		// }
	}
}

@mixin amp-link-underline() {
	text-decoration: underline;

	&:hover {
		// text-decoration: none;
	}
}