.button {
	font-size: rem-calc( 14 );
	font-weight: $global-weight-bold;
	box-shadow: #140B46 0 2px 0;

	&.secondary {
		box-shadow: #BC184F 0 2px 0;
	}

	@include breakpoint( medium ) {
		font-size: rem-calc( 16 );
	}
}