.button {
	font-size: rem-calc( 14 );
	font-weight: $global-weight-bold;
	box-shadow: #BC184F 0 2px 0;
	text-transform: uppercase;

	&.secondary {
		background-color: $amp-button-color;
		box-shadow: #140B46 0 2px 0;

		&:hover {
			background-color: scale-color($amp-button-color, $lightness: -15%);
		}
	}

	@include breakpoint( medium ) {
		font-size: rem-calc( 16 );
	}
}