.amp-arg-winner {
  font-size: rem-calc(21);
  color: $amp-secondary;
  font-weight: $global-weight-bold;
  transform: rotate(4deg);
  display: block;
  margin: rem-calc(20) auto rem-calc(5) auto;
}

.show-mobile-only {
  display: inherit;
  @include breakpoint(medium) {
    display: none;
  }
}

.show-medium {
  display: none;
  @include breakpoint(medium) {
    display: inherit;
  }
}

.show-large {
  display: none;
  @include breakpoint(large) {
    display: inherit;
  }
}
.show-xlarge {
  display: none;
  @include breakpoint(xlarge) {
    display: inherit;
  }
}

.show-xxlarge {
  display: none;
  @include breakpoint(xxlarge) {
    display: inherit;
  }
}

.show-xxxlarge {
  display: none;
  @include breakpoint(xxxlarge) {
    display: inherit;
  }
}


.show-jano {
  display: none;
  @include breakpoint(jano) {
    display: inherit;
  }
}

.pl-2 {
  padding-left: 8px;
}
