.counter {
  @include xy-grid;
  margin: rem-calc(24 0);
  display:flex;
  justify-content: center;

  &__item {
    @include xy-cell(4);
    background: url("../img/counter-bg.svg") no-repeat center top;
    background-size: contain;
    font-size: 16px;
    font-weight: bold;
    padding-top: rem-calc(24);

    span {
      font-size: rem-calc(16);
      text-align: center;
      display: block;
      text-transform: uppercase;
      font-weight: $global-weight-normal;
      color: $amp-primary-alt;
      margin-top: rem-calc(16);
    }
  }

  &__label {
    transform: rotate(7deg);
    margin-top: 5px;
  }

  @include breakpoint(medium) {
    &__item {
      font-size: 56px;
      padding-top: rem-calc(24);

      span {
        font-size: rem-calc(18);
        margin-top: rem-calc(16);
      }
    }
  }
}
