.event {
	&-header {
		clip-path: polygon(0 0, 100% 28%, 98% 78%, 10% 100%);
		// border: 2px solid $amp-secondary;
		position: relative;
		background-color: $amp-secondary;
		padding: rem-calc( 40px 40px 50px 60px );
		z-index: 1;
		top: rem-calc( 16 );

		&::before {
			content: '';
			position: absolute;
			top: 3px;
			right: 3px;
			bottom: 3px;
			left: 4px;
			clip-path: polygon(0.15% 0, 100% 28%, 98% 78%, 10% 100%);
			background-color: $amp-tertiary;
			z-index: -1;
		}
	}

	&-time,
	&-location,
	&-price,
	&-top,
	&-premiere,
	&-argentum,
	&-family {
		color: $amp-secondary;
		font-weight: bold;
		white-space: nowrap;

		&::before {
			content: '';
			display: inline-block;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			width: rem-calc( 24 );
			height: rem-calc( 24 );
			position: relative;
			top: rem-calc( 3 );
			margin-right: rem-calc( 5 );
		}
	}

	&-time {
		display: block;
		&::before {
			content: none;
		}

		.progitem & {
			color: $amp-primary;
			line-height: rem-calc( 25 );
			margin-bottom: rem-calc( 10 );
		}
	}

	&-location {
		margin-right: rem-calc( 5 );
		&::before {
			background-image: url('../img/event-location.svg');
		}
	}

	&-price {
		&::before {
			background-image: url('../img/event-price.svg');
		}
	}

	&-top {
		&::before {
			background-image: url('../img/event-top.svg');
		}
	}

	&-premiere {
		&::before {
			background-image: url('../img/event-premiere.svg');
		}
	}

	&-argentum {
		&::before {
			background-image: url('../img/event-argentum.svg');
		}
	}

	&-family {
		&::before {
			background-image: url('../img/event-family.svg');
			margin: 0;
		}
	}



	&-more {
		color: $amp-secondary;
		font-weight: $global-weight-bold;
	}

	@include breakpoint( medium ) {
		&-header {
			max-width: $narrow-section-width;
			margin: 0 auto;
			padding: rem-calc( 80px 60px 70px 80px );
			top: 0;
		}

		&-time {
			display: inline;
		}

		&-location {
			display: inline;
			// margin-left: rem-calc( 16 );
		}

		&-price {
			display: inline;
			margin-left: rem-calc( 16 );
		}
	}
}