.partnerslist {
	@include reset-list();
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin-bottom: rem-calc( 16 );

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__href {
		display: block;
		max-width: rem-calc( 180 );
		margin-bottom: rem-calc( 16 );

		&--dennikn {
			max-width: rem-calc( 120 );
			margin-top: rem-calc( 40 );
		}
	}

	@include breakpoint( medium ) {
		flex-flow: row wrap;

		&__href {

			max-width: rem-calc( 200 );

			&--dennikn {
				margin: rem-calc( 0 16 );
				max-width: rem-calc( 140 );

			}

			&--re {
				margin: rem-calc( 0 16 );
			}
		}
	}
}