.partnerslist {
	@include reset-list();
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: rem-calc( 16 );

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: rem-calc( 180 );
		margin-bottom: rem-calc( 16 );

		&--dennikn {
			max-width: rem-calc( 90 );
			// margin-top: rem-calc( 40 );
			img {
				max-height: rem-calc( 65 );
			}
		}

		&--fpu {
			max-width: rem-calc( 200 );
		}

		&--banskastiavnica {
			img {
				max-height: rem-calc( 140 );
			}
		}

	}

	&__href {
		display: block;
	}

	@include breakpoint( medium ) {
		flex-flow: row wrap;

		&__item {

			max-width: rem-calc( 160 );
			margin: rem-calc( 0 32 32 32 );

			img {
				max-height: rem-calc( 160 );
				max-width: rem-calc( 160 );
			}

			&--fpu {
				flex-basis: 100%;
				max-width: none;

				img {
					max-width: rem-calc( 250 );
				}
			}

			&--dennikn {
				// margin: rem-calc( 16 );
				max-width: rem-calc( 84 );
				img {
					max-height: rem-calc( 65 );
				}

			}

			&--re {
				// margin: rem-calc( 0 16 );
				margin-left: 0;
			}

			&--trotuarcafe {
				img {
					max-height: rem-calc( 120 );
				}
			}
		}
	}
}