.photodesc {
	&__desc {
		color: $amp-secondary;
		text-transform: uppercase;
		text-align: left;
		font-size: rem-calc( 21 );
		font-weight: $global-weight-bold;
		margin: rem-calc( 16 0 32 16 );
		@include rotate-ccw-s;

	}

	&__photowrap {
		position: relative;
		clip-path: polygon(6% 5%, 100% 0, 99% 99%, 0 93%);
		// min-height: 400px;
		background-color: $amp-secondary;
		display: flex;
		justify-content: center;
		align-items: center;
		// padding: 2% 0;

		a {
			display: flex;
			justify-content: center;
		}

		&--video {
			&::before {
				content: '';
				background-image: url('../img/button-play.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-color: transparent;
				position: absolute;
				top: 50%;
				left: 50%;
				width: rem-calc( 72 );
				height: rem-calc( 72 );
				z-index: 1;
				transform: translate(-36px, -36px);
				cursor: pointer;
			}
		}
	}

	&__photo {
		width: 98%;
		clip-path: polygon(6% 5%, 100% 0, 99% 99%, 0 93%);
		margin: 1% 0;
	}

	@include breakpoint( large ) {

		&__desc {
			max-width: 75%;
			margin: rem-calc( 16 0 32 16 );
		}
	}
}