.presskit {
	@include xy-grid;
	justify-content: center;

	&__item {
		@include xy-cell();

		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		margin-bottom: rem-calc( 24 );
	}

	&__ico {
		height: rem-calc( 100 );
		margin-bottom: rem-calc( 16 );
	}

	@include breakpoint( medium ) {
		&__item {
			@include xy-cell( 4 );
		}
	}
}