.programmes {
	@include reset-list();
	padding: rem-calc( 16 );
	max-width: rem-calc( 1096 );
	margin: 0 auto;

	&__item {
		padding: rem-calc( 32 0 );
		border-bottom: 1px dotted $amp-secondary;
	}
}