.progitem {
	position: relative;

	&__performer {
		font-size: rem-calc( 16 );
		font-weight: $global-weight-normal;
		margin-bottom: 0;
	}

	&__title {
		a {
			color: $amp-secondary;
		}
	}

	&__tags {
		@include reset-list();
		display: flex;
		flex-flow: row wrap;
		padding-right: rem-calc( 32 ); //to avoid overlap with age circle
	}

	&__tag {
		color: $amp-secondary;
		font-weight: $global-weight-bold;
		margin-right: rem-calc( 16 );
	}

	&__text {
		p {
			&::first-letter {
				text-transform: uppercase;
			}
		}

		a {
			@include amp-link-underline;
		}
	}

	&__suitablefor {
		position: absolute;
		right: 0;
		top: rem-calc( 32 ); //equals top padding of programmes__item (= progitem)
		width: 32px;
	    height: 32px;
	    line-height: 32px;
	    text-align: center;
	    border: 2px solid $amp-secondary;
	    border-radius: 50%;
	    font-size: 14px;
	    font-weight: $global-weight-bold;
	    color: $amp-secondary;
	}

	&__age {
		// to handle optical illusion of not being in centre
		position: relative;
		top: -2px;
		left: 1px;
	}


	@include breakpoint( medium ) {
		&__gutter {
			.programmes__item--suppress & {
				// display: flex;
				// flex-flow: row nowrap;
			}
		}

		&__titles {
			.programmes__item--suppress & {
				flex: 1 0 24%;
			}
		}

		&__title {
			font-size: rem-calc( 30 );

			.programmes__item--suppress & {
				font-size: rem-calc( 21 );

			}
		}

		&__text {
			.programmes__item--suppress & {
				flex: 1 0 43%;
			}
		}

		&__factual {
			.programmes__item--suppress & {
				flex: 1 0 33%;
			}
		}

		&__performer {
			font-size: rem-calc( 30 );

			.programmes__item--suppress & {
				font-size: rem-calc( 21 );

			}
		}
	}
}