.schedule {
	margin-top: rem-calc( 64 );
	.tabs {
		display: flex;
		justify-content: center;

		&::after,
		&::before {
			display: none;
		}
	}

	.tabs-panel {
		padding-left: 0;
		padding-right: 0;
	}

	.tabs-title {
		float: none;
		clip-path: polygon(0 20%, 100% 0, 90% 100%, 0% 100%);
		position: relative;
		top: 1px; //to avoid small gap caused by clip path in chrome

		> a {
			text-transform: uppercase;
			font-weight: $global-weight-bold;
			&:hover {
				background-color: $amp-tertiary;
				transition: background-color 0.75s;
			}
		}
	}

	@include breakpoint( medium ) {
		margin-top: rem-calc( 80 );
		.tabs {
			// justify-content: space-around;
			align-items: flex-end;
		}

		.tabs-title {
			> a {
				font-size: rem-calc( 22 );
				padding: rem-calc( 42 84 26 );
			}

			&.is-active {
				> a {
					font-size: rem-calc( 32 );
					
				}
			}
		}
	}

	@include breakpoint( large ) {
		.tabs-title {
			margin: rem-calc( 0 16 );
		}

	}
}