/*
section - default biela skosena, default content ma 1200
section--plain - svetlofialove pozadie
section--narrow - content je uzsi
section--straight - nema skoseny vrch
section--straight-bottom - nema skoseny spodok
section--imagebg - full bg obrazok definovany na section elemente
*/

.section {
	
	@include section-skew();
	&::before,
	&::after {
		background-color: $white;
	}

	&--plain {
		background-color: $amp-tertiary;

		&::before,
		&::after {
			background-color: $amp-tertiary;
		}
	}

	&--imagebg {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: rem-calc( 300 );
		margin-bottom: rem-calc( -50 ); //depends on section-skew
		z-index: -1;

		&::before,
		&::after {
			content: none;
		}
	}

	&--straight-bottom {
		&::after {
			display: none;
		}
	}

	&__inner {
		@include xy-grid-container;
	}

	&__title {
		font-size: rem-calc( 23 );
		text-align: center;
	}

	&__subtitle {
		font-size: rem-calc( 16 );
		color: $amp-primary-alt;
		text-align: center;
	}

	@include breakpoint( medium ) {
		&--imagebg {
			min-height: rem-calc( 480 );
			background-size: auto;
		}

		&__title {
			font-size: rem-calc( 30 );

			&::after {
				content: url('../img/arrow-right-blue.svg');
				display: inline-block;
				padding: rem-calc( 0 16 );
				line-height: rem-calc( 48 );
			}
		}
	}


}