/*
section - default biela skosena, default content ma 1200
section--plain - svetlofialove pozadie
section--narrow - content je uzsi
section--straight - nema skoseny vrch
section--straight-bottom - nema skoseny spodok
section--imagebg - full bg obrazok definovany na section elemente
*/

.section {
	
	@include section-skew();
	&::before,
	&::after {
		background-color: $white;
	}
	position: relative;

	&--plain {
		background-color: $amp-tertiary;

		&::before,
		&::after {
			background-color: $amp-tertiary;
		}
	}

	&--imagebg {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: rem-calc( 300 );
		margin-bottom: rem-calc( -50 ); //depends on section-skew
		z-index: -1;

		&::before,
		&::after {
			content: none;
		}
	}

	&--straight-bottom {
		&::after {
			display: none;
		}
	}

	&__inner {
		@include xy-grid-container;

		.section--narrow & {
			@include xy-grid-container( 600px ); //limit grid container width
		}
	}

	&__title {
		font-size: rem-calc( 23 );
		text-align: center;
		margin-bottom: rem-calc( 24 );
	}

	&__subtitle {
		font-size: rem-calc( 16 );
		color: $amp-primary-alt;
		text-align: center;
		font-weight: $global-weight-normal;

		.section__title+& {
			margin-top: rem-calc( -16 );
		}
	}

	&__illustration {
		// clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);

		&--bottom {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
			margin-bottom: -12.5%;
		}

	}

	&__footertext {
		font-weight: bold;
		text-align: center;
	}

	@include breakpoint( medium ) {
		padding-top: rem-calc( 16 );

		&--imagebg {
			min-height: rem-calc( 480 );
			background-size: auto;
		}

		&__title {
			font-size: rem-calc( 30 );
			margin-bottom: rem-calc( 32 );

			&::after {
				content: url('../img/arrow-right-blue.svg');
				display: inline-block;
				padding: rem-calc( 0 16 );
				line-height: rem-calc( 48 );
			}

			&--noarrow::after {
				display: none;
			}
		}

		&__subtitle {
			font-size: rem-calc( 23 );
			.section__title+& {
				margin-top: rem-calc( -24 );
			}
		}

		&__illustration {
			position: absolute;
		    // margin-bottom: -313px;
		    top: 0;

			&--bottom { //vertical
				top: unset;
			    bottom: 0;
			    margin-bottom: -2.5%; //it's a kind of maaagic...
		    	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
			}

			&--center { //vertical
				top: 50%;
				transform: translateY(-50%);
			}

			&--right { //horizontal
			    right: 5%;
			}

			&--left { //horizonatal
				left: 5%;
			}

			&--anatol {
				margin-bottom: -0.55%;
				transform: rotate(-2deg);
			}
		}

		&__footertext {
			font-size: rem-calc( 23 );
			color: $amp-primary-alt;
		}
	}
}