.site-footer {
	background-color: $amp-primary;
	color: $amp-tertiary;
	padding-bottom: 2rem;
	position: relative;

	a {
		color: $white;

		&:hover {
			color: $amp-secondary;
		}
	}
	
	@include section-skew();
	&::before {
		background-color: $amp-primary;
	}

	&::after {
		display: none;
	}

	&__title {
		text-align: center;
		margin-bottom: rem-calc( 24 );

		&--alt {
			color: $white;
		}

		@include breakpoint( large ) {
			text-align: left;
		}
	}

	&__inner {
		@include xy-grid-container();
		position: relative;

		// @include breakpoint( medium ) {
		// 	padding-top: rem-calc( 50 );
		// }
	}

	&__necessities {
		@include xy-grid();
	}

	&__menu {
		@include reset-list();
	}

	&__shoutout {
		font-size: rem-calc( 32 );
		color: $amp-secondary;
		text-transform: uppercase;
		font-weight: bold;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		text-align: center;
		padding: rem-calc( 16 0 );
		@include rotate-cw-s;

		&::before,
		&::after {
			display: inline-block;
			padding: rem-calc( 0 16 );
			line-height: rem-calc( 48 );
		}

		&::before {
			content: url('../img/arrow-right-white.svg');
		}

		&::after {
			content: url('../img/arrow-left-white.svg');
		}

		@include breakpoint( medium ) {
			flex-flow: row nowrap;
			padding: rem-calc( 120 0 );
		}
	}

	&__credits {
		@include reset-list;
		text-align: center;
		font-size: rem-calc( 12 );
		line-height: 2.5;

		@include breakpoint( large ) {
			display: flex;
			justify-content: center;

			&item {
				&::after {
					content: '|';
					display: inline-block;
					padding: rem-calc( 0 10 );
				}

				&:last-child::after {
					content: '';
				}
			}
		}
	}
}