.social-icons {
	@include reset-list();
	display: flex;
	justify-content: center;


	&__href {
		padding:16rem 10px 16rem 10px;;
		height:30px;//tu bola zmena a 
		width:30px;//tu
	}


	@include breakpoint( medium ) {
		justify-content: flex-end;
		
		.top-bar-right & {
			margin-left: 8px;
		}

		.site-footer & {
			justify-content: center;
			margin-top: rem-calc( 32 );
		}
	}

	@include breakpoint( large ) {
		.site-footer & {
			justify-content: flex-start;
		}
	}
}