.ticketslist {
	@include reset-list;

	&__item {
		padding: rem-calc( 32 0 );
		border-bottom: 1px dotted $amp-secondary;

	}

	&__title {

	}

	&__subtitle {
		font-weight: $global-weight-normal;
	}
}