a.topbutton {
	position: absolute;
    top: -70px;
    right: 10px;
    width: 70px;
    height: 70px;
    background: url(../img/topbutton.svg) no-repeat center;
    background-size: contain;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 55px;
    vertical-align: middle;
    text-indent: 5px;
    transition: top 0.3s;

    &:visited,
    &:hover {
    	color: $white;
    }

    @include breakpoint( medium ) {
        top: -110px;
        &:hover {
            top: -120px;
            transition: top 0.3s;
        }
    }
}