<section class="section section--plain section--straight section--top">
	<div class="section__inner">
		<div class="event-header">
			<span class="event-label event-label--top"><!-- Top --></span>
			<h2 class="event-header__author">{{{performer}}}</h2>
			<h1 class="event-header__title">{{{title}}}</h1>
		</div>

		{{#if this.karavana}}
	  <div>
	  {{else}}
	  <div class="section__content">
	  {{/if}}
			<p class="section__introtext">
				{{{perex}}}
			</p>
			<p>
					
				{{#if this.top}}
					<span class="event-top">TOP</span>
					<br>
				{{/if}}
				{{#if this.novy-format}}
					<span class="event-top">New format – only at AMPLIFIER!</span>
					<br>
				{{/if}}
				{{#if this.premiere}}
					<span class="event-premiere">Slovak premiere</span>
					<br>
				{{/if}}
				{{#if this.argentum}}
					<span class="event-argentum">Amplion Argentum nomination</span>
					<br>
				{{/if}}
				{{#if this.general}}
					<span class="event-more">{{{this.general}}}</span>
					<br>
				{{/if}}
				{{#if this.top-general}}
					<span class="event-top">{{{this.top-general}}}</span>
					<br>
				{{/if}}
				{{#if this.karavana}}
					{{#each occurences}}
						{{>_progitem-in-annotation-en}}
					{{/each}}
					<br>
				{{else}}
					{{#each occurences}}
					<p style="margin: 0.7rem">
						<span class="event-location">{{{this.location}}}</span>
						<span class="event-time">{{{this.time}}}</span>
					</p>
					
					{{/each}}
				{{/if}}

				{{#if this.karavana}}
        
				<p class="section__footertext">
				  <a href="/assets/Program_karavana.jpg" class="button-karavana" target="_blank"> AMPLIÓN CARAVAN - PROGRAMME</a>
			   </p>
			   {{/if}}
			</p>
			{{#if @root.site-config.show-tickets}} 
				{{#ifequal this.price 0}} 
				{{!--intentionally left blank, dont have opposit helper --}} 
				{{else}}
				{{#ifequal this.price "BUSKING"}}
					<p style="margin: 0.7rem">
					<span class="event-time">BUSKING</span>
					</p>
				{{else}}
					{{#ifequal this.cancelled true}}
						<p style="margin: 0.7rem">
							<span class="event-time">CANCELLED</span>
						</p>
					{{else}}
						<p data-smooth-scroll>
							<a href="#vstupenky" class="button">BUY TICKETS</a>
						</p>
					{{/ifequal}}
				{{/ifequal}}
				{{/ifequal}} 
			{{/if}}
		</div>
	</div>
	</div>
</section>

<section class="section">
	<div class="section__inner">
		<div class="section__content">
			{{#each content}}
			<p>{{{this}}}</p>
			{{/each}}
			{{#if link}}
			<p>
				<a href="{{link}}" class="event-more" target="_blank">More at: {{link}}</a>
			</p>
			{{/if}}
		</div>

		

		<div class="popup-gallery">
			<div class="grid-container">
				<div class="grid-x grid-margin-x medium-up-5">
					{{#each pictures}}
					<div class="cell small-12 medium-6 large-3">
						<figure class="photodesc">
							<div class="photodesc__photowrap">
								<a href="/gallery/{{this}}"><img src="/gallery/small/{{this}}" width="300" class="photodesc__photo"></a>
							</div>
						</figure>
					</div>
					{{/each}}
					<!-- <div class="cell small-12 large-2">
						<figure class="photodesc">
							<div class="photodesc__photowrap">
								<a href="/gallery/DJP_Kompletny Shakespeare (45 of 76).jpg"><img src="/gallery/small/DJP_Kompletny Shakespeare (45 of 76).jpg" class="photodesc__photo"></a>
							</div>
						</figure>
					</div>
					<div class="cell small-12 large-2">
						<figure class="photodesc">
							<div class="photodesc__photowrap">
								<a href="/gallery/DJP_Kompletny Shakespeare (74 of 76).jpg"><img src="/gallery/small/DJP_Kompletny Shakespeare (74 of 76).jpg" class="photodesc__photo"></a>
							</div>
						</figure>
					</div> -->
				</div>
			</div>
			
		</div>

		{{#if foto}}
		<p>&nbsp;</p>

		<p class="text-center">
			Photo: {{foto}}
		</p>
		{{/if}}
	</div>
</section>

<style>
	.py-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
</style>

<section
		class="section section--narrow section--straight section--straight-bottom section--notopspace"
>
	<div class="section__inner">
		<a href="https://www.and-theatre.art/icebreaking-sk/" target="_blank" class="partnerslist__href"
		><h2 class="section__title">Project ICEBREAKING</h2></a>
		<ul class="partnerslist">


			<li
					class="
          partnerslist__item

          partnerslist__item--important
        "
			>
				<a href="https://www.and-theatre.art/icebreaking-en/" target="_blank" class="partnerslist__href"
				><img src="/assets/img/logo-icebreaking.jpg" alt=""
				/>
					<p class="text-center py-4">Project ICEBREAKING</p></a>
				</a>
			</li>
			<!-- <li class="partnerslist__item"><a href="https://.sk" target="_blank" class="partnerslist__href"><img src="/assets/img/logo-adsk.png" alt=""></a></li> -->
		</ul>

		<ul class="partnerslist">

			<li
					class="
          partnerslist__item
          partnerslist__item--important
        "
			>
				<a href="https://www.and-theatre.art/ensemble-of-irregular-theatre/" target="_blank" class="partnerslist__href"
				><img src="/assets/img/logo-and.png" alt=""
				/>
					<p class="text-center py-4">Ambasábel nepravidelného divadla (SK)</p></a>
			</li>


			<li
					class="
          partnerslist__item
          partnerslist__item--important
        "
			>
				<a href="https://teatrkto.pl/" target="_blank" class="partnerslist__href"
				><img src="/assets/img/logo-kto-teatr.png" alt=""
				/>
					<p class="text-center py-4">TEATR KTO (PL)</p></a>
				</a>

			</li>
			<li
					class="
          partnerslist__item
          partnerslist__item--important
        "
			>
				<a href="https://firebirds.hu/" target="_blank" class="partnerslist__href"
				><img src="/assets/img/logo-firebirds.jpg" alt=""
				/>
					<p class="text-center py-4">FIREBIRDS (HU)</p></a>
				</a>
			</li>
			<li
					class="
          partnerslist__item
          partnerslist__item--fpu
          partnerslist__item--important
        "
			>
				<a href="https://prostores.cz/" target="_blank" class="partnerslist__href"
				><img src="/assets/img/logo-prostores.png" alt=""
				/>
					<p class="text-center py-4">PROSTORES (CZ)</p></a>
				</a>
			</li>

			<!-- <li class="partnerslist__item"><a href="https://.sk" target="_blank" class="partnerslist__href"><img src="/assets/img/logo-adsk.png" alt=""></a></li> -->
		</ul>


		<p class="text-center" style="color: #03BFD7; font-style: italic; font-size: 14px; padding-bottom:60px;">
			Projekt je spolufinancovaný vládami Českej republiky, Maďarska, Poľska a Slovenska prostredníctvom Višegrádskych grantov z Medzinárodného Vyšehradského fondu. Poslaním fondu je napredovať v ideách pre udržateľnú regionálnu spoluprácu v strednej Európe.
		</p>
	</div>
</section>


{{#if @root.site-config.show-tickets}}
	{{#ifequal this.price 0}}
	    {<section class="section section--plain">
	<div class="section__inner">
		<div class="section__content">
			<p>
				<a href="/en/programme/" class="section__backlink">Back to the programme</a>
			</p>
		</div>
	</div>
</section>
	{{else}}
<section id="tickets" class="section section--straight section--notopspace">
	<div class="section__inner">
		<div class="section__content">
			<p>&nbsp;</p>
			<p style="font-size:0.75em">The owner of the ticket acknowledges that at the AMPLIFIER Festival or related events, organizers may permit third parties to create various forms of physical records
				 (photography, visual and audio recordings) for promotional or artistic purposes, or for the purposes of press, film, radio or TV news.
		</div>
	</div>
</section>

<section class="section section--plain">
	<div class="section__inner">
		<div class="section__content">
			<p>
				<a href="/en/programme/" class="section__backlink">Back to the programme</a>
			</p>
		</div>
	</div>
</section>
	{{/ifequal}}
{{/if}}


<script type="text/javascript">
	window.onload = function() {
		if(!window.location.hash) {
			window.location = window.location + '#loaded';
			window.location.reload();
		}
	}
</script>