<section class="section section--plain section--straight section--top">
	<div class="section__inner">
		<div class="event-header">
			<span class="event-label event-label--top"><!-- Top --></span>
			<h2 class="event-header__author">{{{performer}}}</h2>
			<h1 class="event-header__title">{{{title}}}</h1>
		</div>
		<div class="section__content">
			<p class="section__introtext">
				{{{perex}}}
			</p>
			<p>
					
				{{#if this.top}}
					<span class="event-top">TOP</span>
					<br>
				{{/if}}
				{{#if this.novy-format}}
					<span class="event-top">New format – only at AMPLIFIER!</span>
					<br>
				{{/if}}
				{{#if this.premiere}}
					<span class="event-premiere">Slovak premiere</span>
					<br>
				{{/if}}
				{{#if this.argentum}}
					<span class="event-argentum">Amplion Argentum nomination</span>
					<br>
				{{/if}}
				{{#if this.general}}
					<span class="event-more">{{this.general}}</span>
					<br>
				{{/if}}
				{{#if this.top-general}}
					<span class="event-top">{{this.top-general}}</span>
					<br>
				{{/if}}
				{{#each occurences}}
					<span class="event-time">{{{this.time}}}</span>
					<span class="event-location">{{{this.location}}}</span>
					{{#if @root.site-config.show-tickets}}
					<!-- <span class="event-price">6 €</span> -->
					{{/if}}
					<br>
				{{/each}}
			</p>
			{{#if @root.site-config.show-tickets}}
				{{#ifequal price 0}}
				    {{!-- intentionally left blank, dont have opposit helper --}}
				{{else}}
			<p data-smooth-scroll>
				<a href="#tickets" class="button">Buy tickets</a>
			</p>
				{{/ifequal}}
			{{/if}}
		</div>
	</div>
</section>

<section class="section">
	<div class="section__inner">
		<div class="section__content">
			{{#each content}}
			<p>{{{this}}}</p>
			{{/each}}
			{{#if link}}
			<p>
				<a href="{{link}}" class="event-more" target="_blank">More at: {{link}}</a>
			</p>
			{{/if}}
		</div>

		

		<div class="popup-gallery">
			<div class="grid-container">
				<div class="grid-x grid-margin-x medium-up-5">
					{{#each pictures}}
					<div class="cell small-12 medium-6 large-3">
						<figure class="photodesc">
							<div class="photodesc__photowrap">
								<a href="/gallery/{{this}}"><img src="/gallery/small/{{this}}" width="300" class="photodesc__photo"></a>
							</div>
						</figure>
					</div>
					{{/each}}
					<!-- <div class="cell small-12 large-2">
						<figure class="photodesc">
							<div class="photodesc__photowrap">
								<a href="/gallery/DJP_Kompletny Shakespeare (45 of 76).jpg"><img src="/gallery/small/DJP_Kompletny Shakespeare (45 of 76).jpg" class="photodesc__photo"></a>
							</div>
						</figure>
					</div>
					<div class="cell small-12 large-2">
						<figure class="photodesc">
							<div class="photodesc__photowrap">
								<a href="/gallery/DJP_Kompletny Shakespeare (74 of 76).jpg"><img src="/gallery/small/DJP_Kompletny Shakespeare (74 of 76).jpg" class="photodesc__photo"></a>
							</div>
						</figure>
					</div> -->
				</div>
			</div>
			
		</div>

		{{#if foto}}
		<p>&nbsp;</p>

		<p class="text-center">
			Photo: {{foto}}
		</p>
		{{/if}}
	</div>
</section>


{{#if @root.site-config.show-tickets}}
	{{#ifequal this.price 0}}
	    {{!-- intentionally left blank, dont have opposit helper --}}
	{{else}}
<section id="tickets" class="section section--straight section--notopspace">
	<div class="section__inner">
		<div class="section__content">
			<!-- <h2 class="section__title">Tickets for: {{title}}</h2> -->
	<!-- {{#each occurences}}
	{{#if toot-iframe-id}}
		<h4>{{time}}</h4>
		{{>_toot-iframe iframelang='en'}}
	{{/if}}
	<hr>
	{{/each}} -->
			<p>&nbsp;</p>
			<p>By buying a ticket you agree with publishing photos of you taken during AMPLIFIER festival.</p>
		</div>
	</div>
</section>
	{{/ifequal}}
{{/if}}

<!-- {{#if @root.site-config.show-tickets}}
	{{#ifequal this.price 0}}
	    {{!-- intentionally left blank, dont have opposit helper --}}
	{{else}}
<section id="tickets" class="section section--straight section--notopspace">
	<div class="section__inner">
		<div class="section__content">
			<h2 class="section__title">Tickets for: {{title}}</h2>
	{{#each occurences}}
	{{#if toot-iframe-id}}
		<h4>{{time}}</h4>
		{{>_toot-iframe iframelang='en'}}
	{{/if}}
	<hr>
	{{/each}}
			<p>&nbsp;</p>
			<p>By buying a ticket you agree with publishing photos of you taken during AMPLIFIER festival.</p>
		</div>
	</div>
</section>
	{{/ifequal}}
{{/if}} -->

<section class="section section--plain">
	<div class="section__inner">
		<!-- <h2 class="section__title section__title--noarrow">
			<span class="event-time">SOBOTA 29. 8. 2019, 19.30 — 20.00</span>
			<span class="event-location">Radničné námestie</span>
			<span class="event-price">6 €</span>
		</h2> -->

		<div class="section__content">
			<!-- <p>
				<a href="/vstupenky/" class="button">Kúpiť vstupenky</a>
			</p> -->
			<p>
				<a href="/en/programme/" class="section__backlink">Back to the programme</a>
			</p>
		</div>
	</div>

	<script type="text/javascript">
		window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}		
	</script>
</section>