<h2 class="section__title blue">Laureáti ceny <span class="pink">Amplion Argentum</span> – 7.&nbsp;ročník</h2>
<div class="programme-teaser">
  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title zero-bottom-margin">
      <span class="programme-teaser__performer"
        >Filtr&nbsp;(CZ) </span
      ><br />SPOKO
    </h4>
    <p class="programme-teaser__description">
      Obývačkový pop a garážový rock
  </div>
  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer">
        Collectif Primavez&nbsp;(FR) </span
      ><br />PLAYGROUND 
    </h4>
    <p class="programme-teaser__description">
      Cirkus-art na čínskej tyči závislý na divákoch
    </p>
  </div>

  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer"
        > Lucie Vacovská&nbsp;(CZ)  </span
      ><br />
      SKETCH UP
    </h4>
    <p class="programme-teaser__description">
      Víťazka 4. ročníka česko-slovenskej súťaže kabaretných skečov
    </p>
  </div>

  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title zero-bottom-margin">
      <span class="programme-teaser__performer"
        > Ugo Sanchez&nbsp;Jr. &&nbsp;Lorenzo&nbsp;Galli&nbsp;(IT)  </span
      ><br />
      GRANDE GENIO 
    </h4>
    <p class="programme-teaser__description">
      Špeciálne ocenenie
    </p>
  </div>

  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer"
        >Petra Procházková&nbsp;(CZ)  </span
      >
    </h4>
    <p class="programme-teaser__description">
      Česká reportérka a humanitárna pracovníčka
    </p>
  </div>
  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title zero-bottom-margin">
      <span class="programme-teaser__performer"
        > Viera Dubačová&nbsp;(SK) </span
      ><br />
    </h4>
    <p class="programme-teaser__description">
      Slovenská aktivistka a režisérka
    </p>
  </div>