<h2 class="section__title blue">Laureáti ceny <span class="pink">Amplion Argentum</span> – 8.&nbsp;ročník</h2>
<div class="programme-teaser">
  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title zero-bottom-margin">
      <span class="programme-teaser__performer"
        >Teatr KTO (PL) </span> <br/>
      ARCADIA
    </h4>
    <p class="programme-teaser__description">
      Výnimočné divadlo so spevom, tancom a skvelými hereckými výkonmi, balzam na dušu!
  </div>
  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer">
        Circo Teatro niMú (ES) </span
      ><br />JACUZZI
    </h4>
    <p class="programme-teaser__description">
      Komicko-poetický cirkus na lane pre všetkých
    </p>
  </div>

  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer"
        > WE: MEDIA THEATER (UA)   </span
      ><br />
      ART PUTIKA II. – ICEBREAKING
    </h4>
    <p class="programme-teaser__description">
      Premiéra reportážneho filmu z krajín V4 o zbližovaní obyvateľov V4 a odídencov z UA
    </p>
  </div>

  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer"
      > Divadlo Falangir (SK)    </span
      ><br />
      SKETCH UP
    </h4>
    <p class="programme-teaser__description">
    </p>
  </div>

</div>
<h2 class="section__title blue">Špeciálnu cenu získali  </h2>
<div class="programme-teaser">
  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title programme-teaser__push_right zero-bottom-margin">
      <span class="programme-teaser__performer"
        > Orkest de Tegenwind (NL)  </span
      ><br />
      MARCHING BAND
    </h4>
    <p class="programme-teaser__description programme-teaser__push_right" style="margin-top: 25px">
      Veľký pochodujúci brass band z Holandska
    </p>
  </div>


</div>