<h2 class="section__title"><span class="blue"><span class="pink">Amplion Argentum</span> Award Winners – 7th
  annual</span></h2>

<div class="programme-teaser">
<div class="programme-teaser__item">
  <h4 class="programme-teaser__title zero-bottom-margin">
    <span class="programme-teaser__performer">Filtr&nbsp;(CZ) </span><br />SPOKO
  </h4>
  <p class="programme-teaser__description">
    Living room pop and garage rock
</div>
<div class="programme-teaser__item">
  <h4 class="programme-teaser__title">
    <span class="programme-teaser__performer">
      Collectif Primavez&nbsp;(FR) </span><br />PLAYGROUND
  </h4>
  <p class="programme-teaser__description">
    Cirkus-art of crowd-dependant artist on a chinese pole
  </p>
</div>

<div class="programme-teaser__item">
  <h4 class="programme-teaser__title">
    <span class="programme-teaser__performer"> Lucie Vacovská&nbsp;(CZ) </span><br />
    SKETCH UP
  </h4>
  <p class="programme-teaser__description">
    Winner of the 4th year of the Czech-Slovak cabaret´s sketch competition
  </p>
</div>

<div class="programme-teaser__item">
  <h4 class="programme-teaser__title zero-bottom-margin">
    <span class="programme-teaser__performer"> Ugo Sanchez&nbsp;Jr. &&nbsp;Lorenzo&nbsp;Galli&nbsp;(IT)
    </span><br />
    GRANDE GENIO
  </h4>
  <p class="programme-teaser__description">
    Special award
  </p>
</div>

<div class="programme-teaser__item">
  <h4 class="programme-teaser__title">
    <span class="programme-teaser__performer">Petra Procházková&nbsp;(CZ) </span>
  </h4>
  <p class="programme-teaser__description">
     Czech reporter and humanitarian worker
  </p>
</div>
<div class="programme-teaser__item">
  <h4 class="programme-teaser__title zero-bottom-margin">
    <span class="programme-teaser__performer"> Viera Dubačová&nbsp;(SK) </span><br />
  </h4>
  <p class="programme-teaser__description">
    Slovak activist and director
  </p>
</div>
</div>