<h2 class="section__title"><span class="blue"><span class="pink">Amplion Argentum</span> Award Winners – 8th
  annual</span></h2>
<div class="programme-teaser">
  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title zero-bottom-margin">
      <span class="programme-teaser__performer"
      >Teatr KTO (PL) </span> <br/>
      ARCADIA
    </h4>
    <p class="programme-teaser__description">
      Exceptional theatre with great singing, dancing, and acting, a balm for the soul
  </div>
  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer">
        Circo Teatro niMú (ES) </span
      ><br />JACUZZI
    </h4>
    <p class="programme-teaser__description">
      Poetic rope circus performance for all
    </p>
  </div>

  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer"
      > WE: MEDIA THEATER (UA)   </span
      ><br />
      ART PUTIKA II. – ICEBREAKING
    </h4>
    <p class="programme-teaser__description">
      Premiere of a reportage film from the V4 countries on the rapprochement of the V4
      and the UA expatriates
    </p>
  </div>

  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title">
      <span class="programme-teaser__performer"
      > Divadlo Falangir (SK)    </span
      ><br />
      SKETCH UP
    </h4>
    <p class="programme-teaser__description">
    </p>
  </div>

</div>
<h2 class="section__title blue">Special award</h2>
<div class="programme-teaser">
  <div class="programme-teaser__item">
    <h4 class="programme-teaser__title programme-teaser__push_right zero-bottom-margin">
      <span class="programme-teaser__performer"
      > Orkest de Tegenwind (NL)  </span
      ><br />
      MARCHING BAND
    </h4>
    <p class="programme-teaser__description programme-teaser__push_right" style="margin-top: 25px">
      Street brass band from Netherlands
    </p>
  </div>


</div>