<!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<style type="text/css">
	#mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
	#mergeRow-gdpr {margin-top: 20px;}
	#mergeRow-gdpr fieldset label {font-weight: normal;}
	#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
</style> -->
<div id="mc_embed_signup">
<form action="https://art.us20.list-manage.com/subscribe/post?u=2ee4682b4ef3a4cd162e5beb4&amp;id=43b277e414" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
			<!-- <h2>Subscribe</h2> -->
		<!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    
		<div class="mc-field-group">
			<label for="mce-EMAIL">Vaša e-mailová adresa  <span class="asterisk">*</span></label>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Váš e-mail">
		</div>
	</div>
	<div class="mc_embed_form_submit text-center">
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2ee4682b4ef3a4cd162e5beb4_43b277e414" tabindex="-1" value=""></div>
		<div class="clear"><input type="submit" value="Odoslať" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	</div>
	<div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
	    <div class="content__gdpr">
	        <!-- <label>Povolenie na spracovanie osobných údajov</label>
	        <p> </p> -->
	        <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
					<input type="checkbox" id="gdpr_6885" name="gdpr[6885]" value="Y" class="av-checkbox ">
					<label class="checkbox subfield" for="gdpr_6885"><span>Súhlasím so zasielaním noviniek a informácií o festivale Amplión</span></label>
				
					<input type="checkbox" id="gdpr_6889" name="gdpr[6889]" value="Y" class="av-checkbox "><label class="checkbox subfield" for="gdpr_6889"><span>Chcem dostávať aj informácie o premiérach, akciách a reprízach Ansámblu nepravidelného divadla n.o. (organizátor festivalu Amplión)</span></label>
	        </fieldset>
	        <!-- <p>Kedykoľvek sa môžete odhlásiť kliknutím na link v jednom z mailov, ktoré vám v budúcnosti pošleme.</p> -->
	    </div>
	    <!-- <div class="content__gdprLegal">
	        <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
	    </div> -->
	</div>
	
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email'; /*
 * Translated default messages for the $ validation plugin.
 * Locale: SK
 */
$.extend($.validator.messages, {
	required: "Povinné zadať.",
	maxlength: $.validator.format("Maximálne {0} znakov."),
	minlength: $.validator.format("Minimálne {0} znakov."),
	rangelength: $.validator.format("Minimálne {0} a Maximálne {0} znakov."),
	email: "E-mailová adresa musí byť platná.",
	url: "URL musí byť platný.",
	date: "Musí byť dátum.",
	number: "Musí byť číslo.",
	digits: "Môže obsahovať iba číslice.",
	equalTo: "Dva hodnoty sa musia rovnať.",
	range: $.validator.format("Musí byť medzi {0} a {1}."),
	max: $.validator.format("Nemôže byť viac ako{0}."),
	min: $.validator.format("Nemôže byť menej ako{0}."),
	creditcard: "Číslo platobnej karty musí byť platné."
});}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup -->