<ul class="partnerslist">
  <li class="partnerslist__item partnerslist__item--fpu"><a href="https://fpu.sk" target="_blank" class="partnerslist__href"><img src="/assets/img/logo-fpu.png" alt=""></a></li>
  <li class="partnerslist__item"><a href="https://www.expres.sk" target="_blank" class="partnerslist__href partnerslist__href--re"><img src="/assets/img/logo-re.png" alt=""></a></li>
  <li class="partnerslist__item partnerslist__item--dennikn"><a href="https://dennikn.sk" target="_blank" class="partnerslist__href"><img src="/assets/img/logo-dennikn.png" alt=""></a></li>
</ul>