<h2 class="section__title pink" style="padding: 0 5%">NOVINKA! 
  <br>
  <span class="blue">Limitovaná ponuka permanentiek na&nbsp;celý&nbsp;festival!</h2>
<div class="programme-teaser">
  <div class="programme-teaser__item" style=" width: 80%">
    <p class="programme-teaser__description" style="text-align: center;">
      <b>14 platených programov</b> <br> <b><span class="pink">69 €</span> / dospelý</b> od 18&nbsp;do&nbsp;59&nbsp;rokov 
      <br> <b><span class="pink">39 €</span> / študent</b> od 15&nbsp;do&nbsp;26/ISIC, ŤZP&nbsp;a&nbsp;dôchodca&nbsp;60+ <br>(zľava min. 35% z&nbsp;celkovej&nbsp;hodnoty vstupeniek).
      
      <div style="display: flex; justify-content: center; width: 100%; gap: 12px"><div class="expanded button-group">
        <a href="/assets/PROGRAM_AMPLION_23_SK_permanentka.pdf" target="_blank" class="button secondary">PROGRAM v PDF</a>
      </div>
      
      <div class="expanded button-group">
        <a href="https://goout.net/sk/festival-amplion-novy-kabaret-and-poulicne-umenie/szoiydw/" target="_blank" class="button">KÚPIŤ PERMANENTKU</a>
      </div>
    </div>
  </div>
</div>


  