<iframe 
	id='{{toot-iframe-id}}' 
	width='100%' 
	scrolling='no' 
	frameborder='0' 
	allowtransparency='true' 
	src='https://tootoot.fm/buy-embedded/?event-id={{toot-event-id}}&amp;ifr-id={{toot-iframe-id}}&amp;lang=sk&amp;theme=light,transparent'>
	</iframe>
<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = 'https://tootoot.fm/buy-embedded/host.js?id={{toot-iframe-id}}';fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'tootoot-iframe-channel'));</script>