<ul class="social-icons">
  <li class="social-icons__item">
    <a href="https://www.facebook.com/festivalamplion/" target="_blank" class="social-icons__href"><img src="/assets/img/social-ico.png" alt=""></a>
  </li>
  <li class="social-icons__item">
    <a href="https://www.facebook.com/festivalamplion/" target="_blank" class="social-icons__href"><img src="/assets/img/social-ico.png" alt=""></a>
  </li>
  <li class="social-icons__item">
    <a href="https://www.facebook.com/festivalamplion/" target="_blank" class="social-icons__href"><img src="/assets/img/social-ico.png" alt=""></a>
  </li>
</ul>