{{!-- This is the base layout for your project, and will be used on every page
unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="sk">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-control" content="must-revalidate" />
  <meta name="description"
    content="Medzinárodný festival nových foriem kabaretného divadla a pouličného umenia v Banskej Štiavnici. Doprajte si počas babieho leta 3 dni plné najlepšieho slovenského i zahraničného kabaretného a pouličného umenia. " />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{> social-markup}}
  <title>Festival AMPLIÓN</title>
  <!-- <link rel="stylesheet" href="{{root}}assets/css/app.css?v=2019081"> -->
  <link rel="stylesheet" href="/assets/css/app.css?v=2019083" />
  <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=latin-ext" rel="stylesheet" />
  {{>_gtm_HEAD}}
</head>

<body>
  {{>_gtm_BODY}}
  <nav id="top" class="site-navigation">
    <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
      <div class="title-bar__logo">
        <a href="/"><img src="/assets/img/logo-amplion.svg" alt="logo amplionu" /></a>
      </div>
      <div class="title-bar__langswitcher"><a href="/en/">English</a></div>
      <div class="title-bar__controls">
        <!-- <div class="title-bar-title">menuu
          </div> -->
        <button class="menu-icon" type="button" data-toggle>
          <span class="menu-icon-open">Menu</span><span class="menu-icon-close">Zavrieť</span>
        </button>
      </div>
    </div>

    <div class="top-bar" id="example-animated-menu" data-animate="slide-in-down slide-out-up">
      <div class="top-bar-left">
        <div class="show-for-medium logo-image">
          <a href="/"><img src="/assets/img/logo-amplion.svg" alt="Amplion festival logo" class="" /></a>
        </div>
        <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
          <li>
            <a href="/">Úvod</a>
          </li>
          {{#if @root.site-config.show-program}}
          <li>
            <a href="/program"><b>Program</b></a>
          </li>
          {{/if}} {{#if @root.site-config.show-tickets}}
          <li>
            <a href="/vstupenky/"><b>Vstupenky</b></a>
          </li>
          {{/if}}
          <li>
            <a href="/prakticke-info/">Praktické info</a>
          </li>
          <li>
            <a href="/o-amplione/">O Amplióne</a>
            <!-- <ul class="vertical menu">
                <li>
                  <a href="#">Item 1A</a>
                  <ul class="vertical menu">
                    <li><a href="#">Item 1A</a></li>
                    <li><a href="#">Item 1B</a></li>
                    <li><a href="#">Item 1C</a></li>
                    <li><a href="#">Item 1D</a></li>
                    <li><a href="#">Item 1E</a></li>
                  </ul>
                </li>
                <li><a href="#">Item 1B</a></li>
              </ul> -->
          </li>
          <!-- <li>
              <a href="/sketchup/">Sketch UP</a>
            </li> -->

          {{#if @root.site-config.sketchup-menu}}
          <li>
            <a href="/sketchup/">Sketch Up</a>
          </li>
          {{/if}}

          {{#if @root.site-config.busking-menu}}
          <li>
            <a href="/busking/">Busking</a>
          </li>
          {{/if}}
          <li>
            <a href="/partneri/">Partneri</a>
          </li>
          <li>
            <a href="/archiv/">Archív</a>
          </li>
          <li>
            <a href="/kontakt/">Kontakt</a>
            <!-- <ul class="vertical menu">
                <li><a href="#">Item 3A</a></li>
                <li><a href="#">Item 3B</a></li>
              </ul> -->
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <p><a href="/en/" class="show-for-medium langswitcher">English</a></p>
        <p class="show-for-small-only">Amplion aktuálne</p>
        {{> social-icons}}
      </div>
    </div>
  </nav>

  {{!-- Pages you create in the src/pages/ folder are inserted here when the
  flattened page is created. --}} {{> body}}

  <footer class="site-footer" data-smooth-scroll>
    <div class="site-footer__inner">
      <a href="#top" class="topbutton">Hore</a>
      <div class="site-footer__necessities necessities">
        <div class="necessities__col">
          <h5 class="site-footer__title">Dôležité skratky</h5>

          <nav class="secondary-navigation" role="navigation">
            <ul class="nav-menu secondary-menu">
              <li class="menu-item"><a href="/">Úvod</a></li>
              {{#if @root.site-config.sketchup-menu}}
              <li class="menu-item"><a href="/sketchup/">SKETCH UP</a></li>
              {{/if}}
              {{#if @root.site-config.show-program}}
              <li class="menu-item"><a href="/program">Program {{@root.site-config.year}}</a></li>
              {{/if}}
              {{# if @root.site-config.busking-menu}}
              <li class="menu-item"><a href="/busking/">BUSKING</a></li>
              {{/if}}
              <li class="menu-item"><a href="/press/">Press</a></li>
              <li class="menu-item"><a href="/partneri/">Partneri</a></li>
              <li class="menu-item">
                <a href="/partnerstvo/">Partnerstvo</a>
              </li>
              <li class="menu-item">
                <a href="/ochrana-sukromia/">Ochrana súkromia</a>
              </li>
              <li class="menu-item"><a href="/kontakt/">Kontakt</a></li>
            </ul>
          </nav>
        </div>
        <div class="necessities__col">
          <h5 class="site-footer__title">Hlavný partner</h5>
          <p class="text-center">
            <a href="https://fpu.sk/sk/" target="_blank">Fond na podporu umenia</a>
          </p>

          <h5 class="site-footer__title">Organizátor</h5>
          <p class="text-center">
            <a href="https://www.and-theatre.art/" target="_blank">Ansámbel nepravidelného divadla n.o.</a>
          </p>

          {{#if hideFooterNewsletter}} {{else}}
          <h5 class="site-footer__title">Sledujte nás</h5>
          {{>social-icons}} {{/if}}
        </div>
        <div class="necessities__col">
          <h5 class="site-footer__title site-footer__title--alt">
            Nech vám nič neujde!
          </h5>
          {{#if hideFooterNewsletter}} {{>social-icons}} {{else}}
          {{>_mailchimp-form}} {{/if}}
        </div>
      </div>

      <p class="site-footer__shoutout">BYŤ CITLIVÝ JE UMENIE!</p>

      <ul class="site-footer__credits">
        <li class="site-footer__creditsitem">
          &copy; <strong>2022</strong> Ansámbel nepravidelného divadla n.o.
        </li>
        <li class="site-footer__creditsitem">
          &copy; <strong>Foto:</strong> Michal Svítok, Lubomír Lužina, Peter
          Štít, Ján Petrík, Kristína Mayerová
        </li>
        <li class="site-footer__creditsitem">
          <strong>Design:</strong> michoin.com
        </li>
        <li class="site-footer__creditsitem">
          <strong>UX & code:</strong> andrzej.sk
        </li>
      </ul>
    </div>
  </footer>

  <script src="{{root}}assets/js/app.js?v=20190516"></script>
  <!-- countdown script can delete when done -->
  <!-- TODO load conditionally -->
  <script type="text/javascript" src="/assets/vendor/jquery.plugin.min.js"></script>
  <script type="text/javascript" src="/assets/vendor/jquery.countdown.min.js"></script>
  <script type="text/javascript" src="/assets/vendor/jquery.countdown-sk.js"></script>
  <script type="text/javascript" src="/assets/vendor/countdown.js?v=2"></script>
  <script type="text/javascript" src="/assets/vendor/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="/assets/vendor/lazyload.min.js"></script>

  <!-- <script src="https://partners.goout.net/sk-other/amplioneu.js"></script> -->
  <script>
    var goOut = {
      init: function (callback) {
        var s, d;
        d = document;
        s = d.createElement("script");
        s.src = "https://partners.goout.net/framework/api.vue.js";
        d.body.appendChild(s);
        window.addEventListener("goApiReady", callback);
      },
    };

    goOut.init(function () {
      var lang = goOut.currentLang();

      goOut.headAppendStyle(function () {
        /*
      .event-price-clickable {
          cursor: pointer;
      }

      .goOutWidgetTitle {
          text-align: center;
          margin-top: 1em;
      }

      .goOutWidgetSubtitle {
          text-align: center;
          margin-top: 1em
      }
  */
      });

      // one time event with more sales, this was easiest and most reliable way to store them
      var events = {
        "/program/rio-boom-boom/": [
          "https://goout.net/" + lang + "/listky/rio-boom-boom/ukeo/",
          "https://goout.net/" + lang + "/listky/rio-boom-boom/oleo/",
        ],
        "/en/programme/rio-boom-boom/": [
          "https://goout.net/" + lang + "/tickets/rio-boom-boom/ukeo/",
          "https://goout.net/" + lang + "/tickets/rio-boom-boom/oleo/"
        ],
        "/program/fastfood-dzenerejsn/": [
          "https://goout.net/" + lang + "/listky/no-stop-no-fun/xkeo/"
        ],
        "/en/programme/fastfood-dzenerejsn/": [
          "https://goout.net/" + lang + "/tickets/no-stop-no-fun/xkeo/"
        ],
        "/program/karol-sudor/": [
          "https://goout.net/" + lang + "/listky/art-putika-krcmove-disputy-petra-prochazkova-viera-dubacova/aleo/",
        ],
        "/en/programme/karol-sudor/": [
          "https://goout.net/" + lang + "/tickets/art-putika-krcmove-disputy-petra-prochazkova-viera-dubacova/aleo/",
        ],
        "/program/playground/": [
          "https://goout.net/" + lang + "/listky/playground/bleo/",
          "https://goout.net/" + lang + "/listky/playground/pleo/",
        ],
        "/en/programme/playground/": [
          "https://goout.net/" + lang + "/tickets/playground/bleo/",
          "https://goout.net/" + lang + "/tickets/playground/pleo/",
        ],
        "/program/bohorovni/": [
          "https://goout.net/" + lang + "/listky/bohorovni-bar-kabaret-noir/dleo/",
        ],
        "/en/programme/bohorovni/": [
          "https://goout.net/" + lang + "/tickets/bohorovni-bar-kabaret-noir/dleo/",
        ],
        "/program/filtr/": [
          "https://goout.net/" + lang + "/listky/spoko-koncert-filtr/nleo/",
        ],
        "/en/programme/filtr/": [
          "https://goout.net/" + lang + "/tickets/spoko-koncert-filtr/nleo/",
        ],
        "/program/karol-sudor-citanie/": [
          "https://goout.net/" + lang + "/listky/art-putika-krcmove-disputy-a-autorske-citanie-daniel-pastircak/qleo/",
        ],
        "/en/programme/karol-sudor-citanie/": [
          "https://goout.net/" + lang + "/tickets/art-putika-krcmove-disputy-a-autorske-citanie-daniel-pastircak/qleo/",
        ],
        "/program/lepetit-maly-princ/": [
          "https://goout.net/" + lang + "/listky/lepetit-maly-princ/sleo/",
        ],
        "/en/programme/lepetit-maly-princ/": [
          "https://goout.net/" + lang + "/tickets/lepetit-maly-princ/sleo/",
        ],
        "/program/sketch-up/": [
          "https://goout.net/" + lang + "/listky/sketch-up/tleo/",
        ],
        "/en/programme/sketch-up/": [
          "https://goout.net/" + lang + "/tickets/sketch-up/tleo/",
        ],
          "/program/ugo-sanchez-wants-to-play/": [
          "https://goout.net/" + lang + "/listky/ugo-sanchez-wants-to-play/uleo/"
        ],

         "/en/programme/ugo-sanchez-wants-to-play/": [
          "https://goout.net/" + lang + "/tickets/ugo-sanchez-wants-to-play/uleo/"
        ],
         "/program/toot-ensemble/": [
          "https://goout.net/" + lang + "/listky/toot-ensemble/vleo/"
        ],

        "/en/programme/toot-ensemble/": [
          "https://goout.net/" + lang + "/tickets/toot-ensemble/vleo/"
        ],

      };

      if (
        location.pathname === "/program/" ||
        location.pathname === "/en/programme/"
      ) {
        refreshProgramButtons();
        jQuery('a[role="tab"]').click(function (e) {
          refreshProgramButtons();
        });
      } else {
        var url = location.pathname;
        var saleUrls = events[url];
        if (saleUrls == null) {
          return;
        }

        var section = jQuery(".popup-gallery").parent();
        var saleTitle = jQuery(
          '<h2 class="goOutWidgetTitle" id="vstupenky">Predaj vstupeniek</h2>'
        );
        section.append(saleTitle);

        if (saleUrls.length > 1) {
          goOut.eventApi(
            {
              source: "amplion.eu",
              innerEventsForEvent: 2642540,
              language: lang,
            },
            function (response) {
              console.log(response);
              urlLoop: for (var url of saleUrls) {
                for (eventId in response.timestamps) {
                  var event = response.timestamps[eventId];
                  if (event.sale.url.startsWith(url)) {
                    var weekday = new Array(7);
                    weekday[0] = "Nedeľa";
                    weekday[1] = "Pondelok";
                    weekday[2] = "Utorok";
                    weekday[3] = "Streda";
                    weekday[4] = "Štvrtok";
                    weekday[5] = "Piatok";
                    weekday[6] = "Sobota";

                    var date = event.start;
                    var time = new Date(date);
                    var formattedDate =
                      weekday[time.getDay()] +
                      " " +
                      moment(date).format("H:mm");

                    // var formattedDate = goOut.dateFormat(
                    //   date,
                    //   "D. M. o H:mm",
                    //   "YYYY-MM-DD HH:mm:ss"
                    // );
                    section.append(
                      jQuery(
                        '<h4 class="goOutWidgetSubtitle">' +
                        formattedDate +
                        "</h4>"
                      )
                    );
                    var holder = goOut.createHolder();
                    goOut.frame(holder, url + "?lessContact=2799");
                    section.append(holder);

                    continue urlLoop;
                  }
                }
              }
            }
          );
        } else {
          var holder = goOut.createHolder();
          goOut.frame(holder, saleUrls[0] + "?lessContact=2799");
          section.append(holder);
        }

        if (location.hash === "#vstupenky") {
          goOut.scrollTo(saleTitle, 20);
        }
      }
    });

    function refreshProgramButtons() {
      jQuery(".event-price").each(function (i, item) {
        if (item.text().match("â‚¬")) {
          item.classList.add("event-price-clickable");
          item.onclick = function (e) {
            e.preventDefault();

            var url = jQuery(item)
              .parents(".progitem__gutter")
              .find(".progitem__title a")
              .attr("href");
            location.replace(url + "#vstupenky");
          };
        }
      });
    }
  </script>
</body>

</html>