{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="sk">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> social-markup}}
    <title>Festival AMPLIÓN</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css?v=20190815">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    {{>_gtm_HEAD}}
  </head>
<body>
    {{>_gtm_BODY}}
    <nav id="top" class="site-navigation">
      <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
        <div class="title-bar__logo">
          <a href="/"><img src="/assets/img/logo-amplion.svg" alt=""></a>
        </div>
        <div class="title-bar__langswitcher"><a href="/en/">English</a></div>
        <div class="title-bar__controls">
          <!-- <div class="title-bar-title">menuu
          </div> -->
          <button class="menu-icon" type="button" data-toggle><span class="menu-icon-open">Menu</span><span class="menu-icon-close">Zavrieť</span></button>
        </div>
      </div>

      <div class="top-bar" id="example-animated-menu" data-animate="slide-in-down slide-out-up">
        <div class="top-bar-left">
          <div class="show-for-medium logo-image">
            <a href="/"><img src="/assets/img/logo-amplion.svg" alt="Amplion festival logo" class=""></a>
          </div>
          <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
            <li>
              <a href="/">Úvod</a>
            </li>
            <li>
              <a href="/program/">Program</a>
            </li>
            {{#if @root.site-config.show-tickets}}
            <li>
              <a href="/vstupenky/">Vstupenky</a>
            </li>
            {{/if}}
            <li>
              <a href="/prakticke-info/">Praktické info</a>
            </li>
            <li>
              <a href="/o-amplione/">O Amplióne</a>
              <!-- <ul class="vertical menu">
                <li>
                  <a href="#">Item 1A</a>
                  <ul class="vertical menu">
                    <li><a href="#">Item 1A</a></li>
                    <li><a href="#">Item 1B</a></li>
                    <li><a href="#">Item 1C</a></li>
                    <li><a href="#">Item 1D</a></li>
                    <li><a href="#">Item 1E</a></li>
                  </ul>
                </li>
                <li><a href="#">Item 1B</a></li>
              </ul> -->
            </li>
            <!-- <li>
              <a href="/partneri/">Partneri</a>
            </li> -->
            <li>
              <a href="/archiv/">Archív</a>
            </li>
            <li>
              <a href="/kontakt/">Kontakt</a>
              <!-- <ul class="vertical menu">
                <li><a href="#">Item 3A</a></li>
                <li><a href="#">Item 3B</a></li>
              </ul> -->
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <p><a href="/en/" class="show-for-medium langswitcher">English</a></p>
          <p class="show-for-small-only">Amplion aktuálne</p>
          {{> social-icons}}
        </div>
      </div>
    </nav>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}

    <footer class="site-footer" data-smooth-scroll>
      <div class="site-footer__inner">
        <a href="#top" class="topbutton">Hore</a>
        <div class="site-footer__necessities necessities">
          <div class="necessities__col">
            <h5 class="site-footer__title">Dôležité skratky</h5>

            <nav class="secondary-navigation" role="navigation">
              <ul class="nav-menu secondary-menu">
                <li class="menu-item"><a href="/">Úvod</a></li>
                <li class="menu-item"><a href="/program">Program 2019</a></li>
                <li class="menu-item"><a href="/press/">Press</a></li>
                <li class="menu-item"><a href="/partneri/">Partneri</a></li>
                <li class="menu-item"><a href="/partnerstvo/">Partnerstvo</a></li>
                <li class="menu-item"><a href="/ochrana-sukromia/">Ochrana súkromia</a></li>
                <li class="menu-item"><a href="/kontakt/">Kontakt</a></li>
              </ul>
              
            </nav>
          </div>
          <div class="necessities__col">
            <h5 class="site-footer__title">Hlavný partner</h5>
            <p class="text-center"><a href="https://fpu.sk/sk/" target="_blank">Fond na podporu umenia</a></p>

            <h5 class="site-footer__title">Organizátor</h5>
            <p class="text-center"><a href="https://www.and-theatre.art/" target="_blank">Ansámbel nepravidelného divadla n.o.</a></p>

            {{#if hideFooterNewsletter}}
            {{else}}
              <h5 class="site-footer__title">Sledujte nás</h5>
              {{>social-icons}}
            {{/if}}

          </div>
          <div class="necessities__col">
            <h5 class="site-footer__title site-footer__title--alt">Nech vám nič neujde!</h5>
            {{#if hideFooterNewsletter}}
              {{>social-icons}}
            {{else}}
              {{>_mailchimp-form}}
            {{/if}}

          </div>
        </div>

        <p class="site-footer__shoutout">
          Otvárame hlavy a&nbsp;srdcia umením!
        </p>

        <ul class="site-footer__credits">
          <li class="site-footer__creditsitem">&copy; <strong>2019</strong> Ansámbel nepravidelného divadla n.o.</li>
          <li class="site-footer__creditsitem">&copy;  <strong>Foto:</strong> Ľubomír Lužina, Ján Petrík & Michal Svítok</li>
          <li class="site-footer__creditsitem"><strong>Design:</strong> michoin.com</li>
          <li class="site-footer__creditsitem"><strong>UX & code:</strong> andrzej.sk</li>
        </ul>
      </div>
    </footer>

<script src="{{root}}assets/js/app.js?v=20190516"></script>
<!-- countdown script can delete when done -->
<!-- TODO load conditionally -->
<script type="text/javascript" src="/assets/vendor/jquery.plugin.min.js"></script> 
<script type="text/javascript" src="/assets/vendor/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/assets/vendor/jquery.countdown-sk.js"></script>
<script type="text/javascript" src="/assets/vendor/countdown.js?v=2"></script>
<script type="text/javascript" src="/assets/vendor/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/vendor/lazyload.min.js"></script>
</body>
</html>
