{{!-- This is english version of the base layout for your project, and will be
used where specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="must-revalidate" />

    <meta
      name="description"
      content="The international festival of new forms of cabaret theatre and street art in Banská Štiavnica. At the end of gosammer, enjoy 3 days filled with the best Slovak and international cabaret and street art performances. "
    />
    <!-- {{> social-markup-en}} -->
    <title>AMPLIFIER festival</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css?v=20190818" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=latin-ext"
      rel="stylesheet"
    />
    {{>_gtm_HEAD}}
  </head>
  <body>
    {{>_gtm_BODY}}
    <nav id="top" class="site-navigation">
      <div
        class="title-bar"
        data-responsive-toggle="example-animated-menu"
        data-hide-for="medium"
      >
        <div class="title-bar__logo">
          <a href="/"
            ><img
              src="/assets/img/logo-amplion.svg"
              alt="logo of the amplifier"
          /></a>
        </div>
        <div class="title-bar__langswitcher"><a href="/">Slovensky</a></div>
        <div class="title-bar__controls">
          <!-- <div class="title-bar-title">menuu
          </div> -->
          <button class="menu-icon" type="button" data-toggle>
            <span class="menu-icon-open">Menu</span
            ><span class="menu-icon-close">Close</span>
          </button>
        </div>
      </div>

      <div
        class="top-bar"
        id="example-animated-menu"
        data-animate="slide-in-down slide-out-up"
      >
        <div class="top-bar-left">
          <div class="show-for-medium logo-image">
            <a href="/"
              ><img
                src="/assets/img/logo-amplion.svg"
                alt="Amplion festival logo"
                class=""
            /></a>
          </div>
          <ul
            class="vertical medium-horizontal menu"
            data-responsive-menu="accordion medium-dropdown"
          >
            <li>
              <a href="/en/">Home</a>
            </li>
            {{#if @root.site-config.show-program-en}}
            <li>
              <a href="/en/programme/">Programme</a>
            </li>
            {{/if}} {{#if @root.site-config.show-tickets}}
            <li>
              <a href="/en/tickets/">Tickets</a>
            </li>
            {{/if}}
            <li>
              <a href="/en/practical-info/">Practical info</a>
            </li>
            <li>
              <a href="/en/about-amplifier/">About</a>
              <!-- <ul class="vertical menu">
                <li>
                  <a href="#">Item 1A</a>
                  <ul class="vertical menu">
                    <li><a href="#">Item 1A</a></li>
                    <li><a href="#">Item 1B</a></li>
                    <li><a href="#">Item 1C</a></li>
                    <li><a href="#">Item 1D</a></li>
                    <li><a href="#">Item 1E</a></li>
                  </ul>
                </li>
                <li><a href="#">Item 1B</a></li>
              </ul> -->
            </li>
            {{#if @root.site-config.busking-menu}}
            <li>
              <a href="/en/busking/">Busking</a>
            </li>
            {{/if}}
            <!-- {{#if @root.site-config.sketchup-menu}}
            <li>
              <a href="/en/sketchup/">SketchUp</a>
            </li>
            {{/if}} -->
            <li>
              <a href="/en/partners/">Partners</a>
            </li>
            <li>
              <a href="/en/archive/">Archive</a>
            </li>
            <li>
              <a href="/en/contact/">Contact</a>
              <!-- <ul class="vertical menu">
                <li><a href="#">Item 3A</a></li>
                <li><a href="#">Item 3B</a></li>
              </ul> -->
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <p><a href="/" class="show-for-medium langswitcher">Slovensky</a></p>
          <p class="show-for-small-only">Follow us</p>
          {{> social-icons}}
        </div>
      </div>
    </nav>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the
    flattened page is created. --}} {{> body}}

    <footer class="site-footer" data-smooth-scroll>
      <div class="site-footer__inner">
        <a href="#top" class="topbutton">Top</a>
        <div class="site-footer__necessities necessities">
          <div class="necessities__col">
            <h5 class="site-footer__title">Important shortcuts</h5>

            <nav class="secondary-navigation" role="navigation">
              <ul class="nav-menu secondary-menu">
                <li class="menu-item"><a href="/en/">Home</a></li>
                <li class="menu-item"><a href="/en/press/">Press</a></li>
                {{#if @root.site-config.busking-menu }}
                <li class="menu-item"><a href="/en/busking/">BUSKING</a></li>
                {{/if}} 
                <li class="menu-item"><a href="/en/partners/">Partners</a></li>
                <li class="menu-item">
                  <a href="/en/partnerships/">Partnerships</a>
                </li>
                <li class="menu-item">
                  <a href="/en/privacy-policy/">Privacy policy</a>
                </li>
                <li class="menu-item"><a href="/en/contact/">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="necessities__col">
            <h5 class="site-footer__title">Main partner</h5>
            <p class="text-center">
              <a href="https://fpu.sk/en/" target="_blank"
                >Slovak Arts Council</a
              >
            </p>

            <h5 class="site-footer__title">Organised by</h5>
            <p class="text-center">
              <a
                href="https://www.and-theatre.art/ensemble-of-irregular-theatre/"
                target="_blank"
                >The Ensemble of Irregular Theatre NPO</a
              >
            </p>

            {{#if hideFooterNewsletter}} {{else}}
            <h5 class="site-footer__title">Follow us</h5>
            {{>social-icons}} {{/if}}
          </div>
          <div class="necessities__col">
            <h5 class="site-footer__title site-footer__title--alt">
              Don't miss anything!
            </h5>
            {{#if hideFooterNewsletter}} {{>social-icons}} {{else}}
            {{>_en-mailchimp-form}} {{/if}}
          </div>
        </div>

        <p class="site-footer__shoutout">TO STOP SELF IS ART!</p>

        <ul class="site-footer__credits">
          <li class="site-footer__creditsitem">
            &copy; <strong>2020</strong> Ansámbel nepravidelného divadla n.o.
          </li>
          <li class="site-footer__creditsitem">
            &copy; <strong>Photo:</strong> Michal Svítok, Lubomír Lužina, Peter
            Štít, Ján Petrík, Kristína Mayerová
          </li>
          <li class="site-footer__creditsitem">
            <strong>Design:</strong> michoin.com
          </li>
          <li class="site-footer__creditsitem">
            <strong>UX & code:</strong> andrzej.sk
          </li>
        </ul>
      </div>
    </footer>

    <script src="{{root}}assets/js/app.js?v=20190517"></script>
    <!-- countdown script can delete when done -->
    <script
      type="text/javascript"
      src="/assets/vendor/jquery.plugin.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/vendor/jquery.countdown.min.js"
    ></script>
    <!-- <script type="text/javascript" src="/assets/vendor/jquery.countdown-sk.js"></script> -->
    <script
      type="text/javascript"
      src="/assets/vendor/countdown.js?v=2"
    ></script>
    <script
      type="text/javascript"
      src="/assets/vendor/jquery.magnific-popup.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/vendor/lazyload.min.js"
    ></script>
    <script>
      var goOut = {
        init: function (callback) {
          var s, d;
          d = document;
          s = d.createElement("script");
          s.src = "https://partners.goout.net/framework/api.vue.js";
          d.body.appendChild(s);
          window.addEventListener("goApiReady", callback);
        },
      };

      goOut.init(function () {
        var lang = goOut.currentLang();

        goOut.headAppendStyle(function () {
          /*
        .event-price-clickable {
            cursor: pointer;
        }

        .goOutWidgetTitle {
            text-align: center;
            margin-top: 1em;
        }

        .goOutWidgetSubtitle {
            text-align: center;
            margin-top: 1em
        }
    */
        });

        // one time event with more sales, this was easiest and most reliable way to store them
        var events = {
          "/program/rio-boom-boom/": [
            "https://goout.net/" + lang + "/listky/rio-boom-boom/ukeo/",
            "https://goout.net/" + lang + "/listky/rio-boom-boom/oleo/",
          ],
          "/en/programme/rio-boom-boom/": [
            "https://goout.net/" + lang + "/tickets/rio-boom-boom/ukeo/",
            "https://goout.net/" + lang + "/tickets/rio-boom-boom/oleo/"
          ],
          "/program/fastfood-dzenerejsn/": [
            "https://goout.net/" + lang + "/listky/no-stop-no-fun/xkeo/"
          ],
          "/en/programme/fastfood-dzenerejsn/": [
            "https://goout.net/" + lang + "/tickets/no-stop-no-fun/xkeo/"
          ],
          "/program/karol-sudor/": [
            "https://goout.net/" + lang + "/listky/art-putika-krcmove-disputy-petra-prochazkova-viera-dubacova/aleo/",
          ],
          "/en/programme/karol-sudor/": [
            "https://goout.net/" + lang + "/tickets/art-putika-krcmove-disputy-petra-prochazkova-viera-dubacova/aleo/",
          ],
          "/program/playground/": [
            "https://goout.net/" + lang + "/listky/playground/bleo/",
            "https://goout.net/" + lang + "/listky/playground/pleo/",
          ],
          "/en/programme/playground/": [
            "https://goout.net/" + lang + "/tickets/playground/bleo/",
            "https://goout.net/" + lang + "/tickets/playground/pleo/",
          ],
          "/program/bohorovni/": [
            "https://goout.net/" + lang + "/listky/bohorovni-bar-kabaret-noir/dleo/",
          ],
          "/en/programme/bohorovni/": [
            "https://goout.net/" + lang + "/tickets/bohorovni-bar-kabaret-noir/dleo/",
          ],
          "/program/filtr/": [
            "https://goout.net/" + lang + "/listky/spoko-koncert-filtr/nleo/",
          ],
          "/en/programme/filtr/": [
            "https://goout.net/" + lang + "/tickets/spoko-koncert-filtr/nleo/",
          ],
          "/program/karol-sudor-citanie/": [
            "https://goout.net/" + lang + "/listky/art-putika-krcmove-disputy-a-autorske-citanie-daniel-pastircak/qleo/",
          ],
          "/en/programme/karol-sudor-citanie/": [
            "https://goout.net/" + lang + "/tickets/art-putika-krcmove-disputy-a-autorske-citanie-daniel-pastircak/qleo/",
          ],
          "/program/lepetit-maly-princ/": [
            "https://goout.net/" + lang + "/listky/lepetit-maly-princ/sleo/",
          ],
          "/en/programme/lepetit-maly-princ/": [
            "https://goout.net/" + lang + "/tickets/lepetit-maly-princ/sleo/",
          ],
          "/program/sketch-up/": [
            "https://goout.net/" + lang + "/listky/sketch-up/tleo/",
          ],
          "/en/programme/sketch-up/": [
            "https://goout.net/" + lang + "/tickets/sketch-up/tleo/",
          ],
            "/program/ugo-sanchez-wants-to-play/": [
            "https://goout.net/" + lang + "/listky/ugo-sanchez-wants-to-play/uleo/"
          ],
  
           "/en/programme/ugo-sanchez-wants-to-play/": [
            "https://goout.net/" + lang + "/tickets/ugo-sanchez-wants-to-play/uleo/"
          ],
           "/program/toot-ensemble/": [
            "https://goout.net/" + lang + "/listky/toot-ensemble/vleo/"
          ],
  
          "/en/programme/toot-ensemble/": [
            "https://goout.net/" + lang + "/tickets/toot-ensemble/vleo/"
          ],
  
        };

        if (
          location.pathname === "/program/" ||
          location.pathname === "/en/programme/"
        ) {
          refreshProgramButtons();
          jQuery('a[role="tab"]').click(function (e) {
            refreshProgramButtons();
          });
        } else {
          var url = location.pathname;
          var saleUrls = events[url];
          console.log(saleUrls);
          if (saleUrls == null) {
            return;
          }

          var section = jQuery(".popup-gallery").parent();
          var saleTitle = jQuery(
            '<h2 class="goOutWidgetTitle" id="tickets">Ticket sales</h2>'
          );
          section.append(saleTitle);

          if (saleUrls.length > 1) {
            goOut.eventApi(
              {
                source: "amplion.eu",
                innerEventsForEvent: 2378503,
                language: lang,
              },
              function (response) {
                console.log(response);
                urlLoop: for (var url of saleUrls) {
                  console.log(url);
                  for (eventId in response.timestamps) {
                    var event = response.timestamps[eventId];
                    if (event.sale.url.startsWith(url)) {
                      var weekday = new Array(7);
                        weekday[0] = "Sunday";
                        weekday[1] = "Monday";
                        weekday[2] = "Tuesday";
                        weekday[3] = "Wednesday";
                        weekday[4] = "Thursday";
                        weekday[5] = "Friday";
                        weekday[6] = "Saturday";

                      var date = event.start;
                      var time = new Date(date);
                      var formattedDate = weekday[time.getDay()] + " " +moment(date).format('H:mm')
                      // var formattedDate = goOut.dateFormat(
                      //   date,
                      //   "D. M. H:mm",
                      //   "YYYY-MM-DD HH:mm:ss"
                      // );
                      section.append(
                        jQuery(
                          '<h4 class="goOutWidgetSubtitle">' +
                            formattedDate +
                            "</h4>"
                        )
                      );
                      var holder = goOut.createHolder();
                      goOut.frame(holder, url + "?lessContact=2799");
                      section.append(holder);

                      continue urlLoop;
                    }
                  }
                }
              }
            );
          } else {
            var holder = goOut.createHolder();
            goOut.frame(holder, saleUrls[0] + "?lessContact=2799");
            section.append(holder);
          }

          if (location.hash === "#tickets") {
            goOut.scrollTo(saleTitle, 20);
          }
        }
      });

      function refreshProgramButtons() {
        jQuery(".event-price").each(function (i, item) {
          if (item.text().match("â‚¬")) {
            item.classList.add("event-price-clickable");
            item.onclick = function (e) {
              e.preventDefault();

              var url = jQuery(item)
                .parents(".progitem__gutter")
                .find(".progitem__title a")
                .attr("href");
              location.replace(url + "#vstupenky");
            };
          }
        });
      }
    </script>
  </body>
</html>
